In [43]:
import pandas as pd 
import numpy as np
from datetime import date
from datetime import datetime,timedelta
import datetime

In [44]:
df = pd.read_excel('Copy of vaccine_data - Copy.xlsx')
df

,userid,name,1st dose status,date of 1st dose,2nd dose status,date of 2nd dose
0,p001,Chandler,yes,2021-12-30,yes,2022-03-30
1,p002,Joey,yes,2023-09-12,no,NaT
2,p003,Monica,yes,2022-03-15,yes,2022-06-23
3,p004,Rachel,yes,2022-02-17,no,NaT
4,p005,Pheobe,yes,2022-01-18,yes,2022-05-08
5,p006,Jenny,yes,2022-04-21,yes,2022-08-04
6,p007,Mike,yes,2022-03-17,no,NaT
7,p008,Harvey,yes,2022-01-18,yes,2022-04-28
8,p009,Ted,yes,2021-12-15,yes,2022-04-24
9,p010,Barney,no,NaT,no,NaT
10,p011,Robin,no,NaT,no,NaT
11,p012,Lily,no,NaT,no,NaT
12,p013,Marshal,yes,2022-02-19,yes,2022-07-19
13,p014,Kathie,yes,2022-02-10,yes,2022-05-31
14,p015,Daniel,no,NaT,no,NaT
15,p016,Jessica,no,NaT,no,NaT
16,p017,Amanda,no,NaT,no,NaT
17,p018,Steve,yes,2022-12-12,no,NaT
18,p019,Tony,yes,2022-01-27,yes,2022-05-02
19,p020,Donna,yes,2022-04-02,no,NaT

In [45]:
df.rename(columns = {'1st dose status':'first_dose_status','2nd dose status':'second_dose_status','date of 1st dose':'date_of_1st_dose','date of 2nd dose':'date_of_2nd_dose'}, inplace = True)
df

,userid,name,first_dose_status,date_of_1st_dose,second_dose_status,date_of_2nd_dose
0,p001,Chandler,yes,2021-12-30,yes,2022-03-30
1,p002,Joey,yes,2023-09-12,no,NaT
2,p003,Monica,yes,2022-03-15,yes,2022-06-23
3,p004,Rachel,yes,2022-02-17,no,NaT
4,p005,Pheobe,yes,2022-01-18,yes,2022-05-08
5,p006,Jenny,yes,2022-04-21,yes,2022-08-04
6,p007,Mike,yes,2022-03-17,no,NaT
7,p008,Harvey,yes,2022-01-18,yes,2022-04-28
8,p009,Ted,yes,2021-12-15,yes,2022-04-24
9,p010,Barney,no,NaT,no,NaT
10,p011,Robin,no,NaT,no,NaT
11,p012,Lily,no,NaT,no,NaT
12,p013,Marshal,yes,2022-02-19,yes,2022-07-19
13,p014,Kathie,yes,2022-02-10,yes,2022-05-31
14,p015,Daniel,no,NaT,no,NaT
15,p016,Jessica,no,NaT,no,NaT
16,p017,Amanda,no,NaT,no,NaT
17,p018,Steve,yes,2022-12-12,no,NaT
18,p019,Tony,yes,2022-01-27,yes,2022-05-02
19,p020,Donna,yes,2022-04-02,no,NaT

In [46]:
df['date_of_1st_dose']=df['date_of_1st_dose'].dt.strftime('%d-%m-%y')
df['date_of_2nd_dose']=df['date_of_2nd_dose'].dt.strftime('%d-%m-%y')

In [5]:
df

,userid,name,first_dose_status,date_of_1st_dose,second_dose_status,date_of_2nd_dose
0,p001,Chandler,yes,30-12-21,yes,30-03-22
1,p002,Joey,yes,12-09-23,no,NaN
2,p003,Monica,yes,15-03-22,yes,23-06-22
3,p004,Rachel,yes,17-02-22,no,NaN
4,p005,Pheobe,yes,18-01-22,yes,08-05-22
5,p006,Jenny,yes,21-04-22,yes,04-08-22
6,p007,Mike,yes,17-03-22,no,NaN
7,p008,Harvey,yes,18-01-22,yes,28-04-22
8,p009,Ted,yes,15-12-21,yes,24-04-22
9,p010,Barney,no,NaN,no,NaN
10,p011,Robin,no,NaN,no,NaN
11,p012,Lily,no,NaN,no,NaN
12,p013,Marshal,yes,19-02-22,yes,19-07-22
13,p014,Kathie,yes,10-02-22,yes,31-05-22
14,p015,Daniel,no,NaN,no,NaN
15,p016,Jessica,no,NaN,no,NaN
16,p017,Amanda,no,NaN,no,NaN
17,p018,Steve,yes,12-12-22,no,NaN
18,p019,Tony,yes,27-01-22,yes,02-05-22
19,p020,Donna,yes,02-04-22,no,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   userid              20 non-null     object
 1   name                20 non-null     object
 2   first_dose_status   20 non-null     object
 3   date_of_1st_dose    14 non-null     object
 4   second_dose_status  20 non-null     object
 5   date_of_2nd_dose    9 non-null      object
dtypes: object(6)
memory usage: 1.1+ KB

In [79]:
def vaccine_portal():
    admin_name = "Akriti"
    password = "2426"
    user_ids = input("Enter the userid :-")
    if user_ids in df['userid'].values:
        print('Welcome to the vaccination portal')
    
        print(f'Candidate ID - {user_ids}')
        for lst, ids in enumerate(df['userid'].values):
                if ids == user_ids:
                    name = df.loc[lst,"name"]
                    
                    print(f"Candidate Name - { name}")
                    first_dose_status = df.loc[lst,"first_dose_status"]
                    print(f"Candidate 1st dose status - {first_dose_status }")

                    date_of_1st_dose = df.loc[lst,"date_of_1st_dose"]
                    print(f"Candidate 1st dose date - { date_of_1st_dose}")

                    second_dose_status = df.loc[lst,"second_dose_status"]
                    print(f"Candidate 2nd dose status - {second_dose_status }")

                    date_of_2nd_dose = df.loc[lst,"date_of_2nd_dose"]
                    print(f"Candidate 2nd dose date - { date_of_2nd_dose}")

                    if first_dose_status == "yes" and second_dose_status == "yes":
                        print(f"Hi {name}, Congratulations! You are fully vaccinated.")

                    elif first_dose_status == "no":
                        print( f"Hi {name}, Please take your first dose at the earliest.")

                    elif first_dose_status == "yes" and second_dose_status == "no":
                        date_of_1st_dose= df.loc[lst,'date_of_1st_dose']
                        date_of_1st_dose = datetime.datetime.strptime(date_of_1st_dose,"%d-%m-%y")
                        today = datetime.datetime.today()
                        days_difference = (today-date_of_1st_dose ).days
                        next_dose_date= date_of_1st_dose + timedelta(days=90)

                        if days_difference> 90:
                            print (f"Hi {name}, You have taken your first dose on {date_of_1st_dose.strftime('%d-%m-%y')}, please take your 2nd dose at the earliest.")
                        else:
                            days_difference<=90
                            print(f"Hi {name}, You have taken your first dose on {date_of_1st_dose.strftime('%d-%m-%Y')}, please take your 2nd dose on or after {next_dose_date}.")
               
               
    else:
        print(f'UserID not found in the record')

In [84]:
vaccine_portal()

Enter the userid :- p002

Welcome to the vaccination portal
Candidate ID - p002
Candidate Name - Joey
Candidate 1st dose status - yes
Candidate 1st dose date - 12-09-23
Candidate 2nd dose status - no
Candidate 2nd dose date - nan
Hi Joey, You have taken your first dose on 12-09-2023, please take your 2nd dose on or after 2023-12-11 00:00:00.